.feedbackCard {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 2px 16px;
  margin: 10px 20px;
}

.feedbackContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.feedbackCardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.remarkCard {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 2px 16px;
  margin: 10px 20px;
  flex-grow: 1;
}
