.testOverviewDiv {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.testOverviewDiv h3,
.testInfoContainer h3,
.testTitle,
.imgText {
  text-align: center;
}

.testOverviewContent,
.testDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testInfoContainer {
  margin-top: 20px;
}

.testInfoContainer,
.testOverviewDiv {
  padding: 2px 16px;
  padding-bottom: 20px;
}

.testDiv {
  z-index: 2;
  margin-left: 14px;
}

.testCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 12px;
  margin-bottom: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 2px 16px;
  width: 30%;
  min-width: 29%;
}

.testContentTitles,
.testContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.testImg {
  text-align: center;
  width: auto;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
